SUPABASE_URL=https://slvxtnfmktzjgomwqmxk.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNsdnh0bmZta3R6amdvbXdxbXhrIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc0MzcyMTA3NCwiZXhwIjoyMDU5Mjk3MDc0fQ.ROWWLDUjh_L9jgu2NlFZHxCH2QDF2X2CuFbLk-7BVIE